.col-md-2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: inherit;
}

.sidebar {
    flex: 1 0 auto;
    background-color: #332D2C;
    padding: 2rem 1rem;
}

.donation {
    flex-shrink: 0;
    background-color: #332D2C;
    padding: 2rem 1rem;
}

.Disclaimer{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-33%, -50%);
}

.eq-graph {
    padding-bottom: 10px;
    height: 45vh;
}

.eq-map {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 90vh
}

.Select-control {
    background-color: rgb(25, 25, 25) !important;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label {
    color: rgb(255, 255, 255)
}


.Select-menu-outer {
    background-color: rgb(25, 25, 25);
}

.map-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#map-style.dash-dropdown {
    flex: 1 1 auto;
}

#map-overlay.dash-dropdown {
    flex: 1 1 auto;
}

#map-type.dash-dropdown {
    flex: 1 1 auto;
}
